# https://git-scm.com/docs/gitignore

# Build
/dist/
/build/

# Cache
.cache/
.coverage*
.mypy_cache/
.ruff_cache/
.pytest_cache/
.terraform.*
.terraform
terraform.tfstate

# Editor
/.idea/
/.vscode/
.ipynb_checkpoints/

# Environs
.env
/.venv/
.uv/
uv.lock

# Project
/docs/*
/mlruns/*
/outputs/*
!**/.gitkeep
/qdrant_data/*
qa_dataset.csv
qa_dataset.json

# Python
*.py[cod]
__pycache__/
