mlflow[genai]>=2.17.2
setuptools>=71.1.0
langchain>=0.3.5
llama-index>=0.12.0
nltk>=3.9.1
langchain-community>=0.3.4
transformers>=4.46.1
pypdf2>=3.0.1
defusedxml>=0.7.1
spacy==3.7.0
textstat>=0.7.4
torch>=2.5.1
evaluate>=0.4.3
loguru>=0.7.2
omegaconf>=2.3.0
pandera>=0.21.0
langchain-aws>=0.2.7
langchain-openai>=0.2.9
plotly==5.3.1
kaleido==0.2.1
seaborn>=0.13.2
sagemaker>=2.235.1
litserve>=0.2.4
guardrails-ai>=0.6.0
tenacity>=8.2.0,<8.4.0
presidio-analyzer>=2.2.355
presidio-anonymizer>=2.2.355
qdrant-client>=1.12.1
unstructured[pdf]>=0.16.8
libmagic>=1.0
python-magic>=0.4.27
langchain-qdrant>=0.2.0
pytest>=8.3.4
pytest-ordering>=0.6
llama-index-llms-bedrock>=0.3.1

# Dev dependencies
bandit>=1.7.9
coverage>=7.5.4
mypy>=1.10.1
pytest-cov>=5.0.0
pytest-xdist>=3.6.1
ruff>=0.5.0
commitizen>=3.27.0
pre-commit>=3.7.1
invoke>=2.2.0
pdoc>=14.5.1
ipykernel>=6.29.4
nbformat>=5.10.4
